<!doctype html>
<html>
  <head>
    <title>PyvMind - Smarter than SMART&trade;!</title>

    <!-- For the datagrid lib -->
    <link type="text/css" rel="stylesheet" href="/static/css/thirdparty/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/thirdparty/jsgrid-theme.min.css" />
    
    <!-- Modal popup lib -->
    <link type="text/css" rel="stylesheet" href="/static/css/thirdparty/tingle.css" />

    <!-- No doy -->
    <script type="text/javascript" src="/static/js/thirdparty/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/thirdparty/underscore.js"></script>

    <!-- Neato little filesize lib, lots of options -->
    <script type="text/javascript" src="/static/js/thirdparty/filesize.min.js"></script>

    <!-- Modal popup lib -->
    <script type="text/javascript" src="/static/js/thirdparty/tingle.js"></script>

    <!-- Datagrid lib -->
    <script type="text/javascript" src="/static/js/thirdparty/jsgrid.js"></script>
    <script type="text/javascript" src="/static/js/jsgrid-pvymind-fields.js"></script>

    <script>
      blkdevs = {{ blkdevs | safe }};
      smarts = {{ smarts | safe }};
    </script>
    <script type="text/javascript" src="/static/js/index.js"></script>
  </head>
  <body>
    <h1>All Disks</h1>
    <div id="grid"></div>
  </body>
</html>
